.collection {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.collection img {
  width: 256px;
  margin-left: 1px;
  margin-bottom: 7px;

  height: 190px auto;
}
.collection2 {
  border: solid 1px #f5d63b;
  background-color: #f5d63b;
  border: solid 1px #1c1a4f;
}
.item {
  font-weight: 500;
  background-color: #1c1a4f;
  border: solid 1px #f5d63b;
  color: white;
  padding: 6px 2px 6px 2px;
}

.heart {
  font-size: 20px;
}
