.trending{
    
  justify-content: center;
  
  transition: transform 0.3s; 
}

.trending:hover {
  transform: scale(1.2);
}

.trend-c{
  
  justify-content: center;
  border-radius: 30%;
  width: 287px;
  height: 287px;
  background: rgba(255, 255, 255, 0.16);

  box-shadow: 0 4px 15px rgba(22, 19, 115, 0.19);
backdrop-filter: blur(6.7px);
-webkit-backdrop-filter: blur(6.7px);
margin-right: 30px;
margin-bottom: 1.5rem;

}




.trend-c img{

  margin-bottom: 7px;
  margin-top: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-radius: 30px;
  
}

.item-trend-name{
  font-size: 18px;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;


}

.imglogo{
  height: 28rem;
  margin-top: 3rem;
}

h1.c-b {
font-size: 3rem;
padding: 3rem;
padding-left:0;
text-align: center ;


}

.c-b{
  font-weight: 500;
  padding-top: 1rem;
  color: #011f3f;
}
